/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #e8cbe4;
}

header {
    background-image: url("../img/header.PNG");
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding: 100px 20px;
    text-align: center;
    position: relative;
}

footer {
    background-color: #fff;
    color: black;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    margin-top: 20px;
}

footer p {
    margin: 0;
}

.productos {
    display: flex; /* Cambiar la disposición a horizontal */
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan en filas */
    justify-content: space-between; /* Distribuir los elementos equitativamente en el contenedor */
    padding: 20px; /* Espaciado interior */
    margin-top: 50px; /* Aumento del margen superior */
    margin-bottom: 100px; /* Dejar espacio para el footer */
}

.producto {
    width: calc(25% - 20px); /* Ancho fijo para cada producto, con espacio entre ellos */
    margin-bottom: 20px; /* Espacio entre las filas de productos */
    background-color: #fff;
    padding: 20px;
    text-align: center;
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.producto:last-child {
    margin-right: 0; /* Eliminar el margen derecho del último producto en cada fila */
}

.producto.visible {
    opacity: 1;
    transform: translateX(0);
}
.producto img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 20px;
    border-radius: 8px;
    transition: transform 0.3s ease; /* Agregar transición para suavizar el efecto */
}

.producto img:hover {
    transform: scale(1.1); /* Aumentar el tamaño al pasar el cursor */
}


.producto h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.producto p {
    font-size: 0.9rem;
    margin-bottom: 15px;
}

button {
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    padding: 12px 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 20px;
    font-size: 1rem;
}

button:hover {
    background-color: #ff6666;
}


.menu-icon {
    display: none;
}

.menu {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 999;
    padding: 10px 0;
    margin-bottom: 800px;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    padding: 15px 20px;
    text-align: center;
}

.menu a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    transition: color 0.3s;
}

.menu a:hover {
    color: #bc1ce0;
}

@media only screen and (max-width: 768px) {
    header {
        padding: 50px 20px;
    }

    .menu-icon {
        display: none;
    }

    .menu {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #fff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        padding: 10px 0;
        margin-bottom: 60px;
    }

    .menu li {
        margin: 10px 0;
    }

    .menu a {
        padding: 10px 20px;
        font-size: 14px;
    }

    .productos {
        margin-top: 90px;
    }

    .producto {
        width: calc(50% - 20px);
    }
}

.boton-comprar {
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 1rem;
    text-decoration: none; /* Quitar la decoración de subrayado */
    display: inline-block; /* Para que se comporte como un elemento de bloque */
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.boton-comprar:hover {
    background-color: #ff6666;
    transform: scale(1.05);
}


aside {
    width: 30%; /* Ancho del aside */
    background-size: cover;
    padding: 20px;
    position: fixed; /* Fijar el aside en la pantalla */
    top: 31.5%; /* Ajusta la posición superior según sea necesario */
    left: 75%;
    height: auto; /* Altura automática */
    margin-top: 20px; /* Agrega un margen superior */
    margin-bottom: 60px; /* Agrega un margen inferior para el footer */
    border: none; /* Elimina los bordes */
}

/* Estilos para los productos */
aside .productos {
    max-width: 80%; /* Ancho máximo del contenedor de productos */
    margin: 0 auto; /* Centrar el contenedor de productos */
    height: 100%; /* Altura del contenido igual al 100% del aside */
}

/* Estilos para los productos */
aside .producto {
    display: none;
    width: 100%; /* Ancho completo del producto */
    margin-bottom: 20px; /* Espacio entre productos */
    opacity: 0; /* Inicialmente ocultos */
    transform: scale(0.9) rotateY(90deg); /* Escala y rotación inicial */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Transición suave */
    animation: fadeInRotate 0.5s ease forwards; /* Animación de entrada */
}

@keyframes fadeInRotate {
    from {
        opacity: 0;
        transform: scale(0.9) rotateY(90deg);
    }
    to {
        opacity: 1;
        transform: scale(1) rotateY(0deg);
    }
}

aside .producto.visible {
    display: block;
    opacity: 1; /* Mostrar con opacidad completa */
    transform: scale(1) rotateY(0deg); /* Restaurar escala y rotación */
}

